<div class="card">
  <p-table id="dtCourses" [lazy]="true" [loading]="isLoading"
    [responsive]="true" [value]="courses">
    <ng-template pTemplate="caption">
      <div class="table-header d-flex">
          <div class="table-header text-2xl">
              Lista de Cursos
          </div>
          <div class="table-header text-end ml-auto">
            <p-button label="novo curso" (click)="showDialogSave()"></p-button>
          </div>
      </div>
  </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Ações</th>
            <th>Nome</th>
            <th>Categoria</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-courses>
        <tr>
            <td>
              <button pButton pRipple type="button" icon="pi pi-times" (click)="confirm($event, courses._id)" class="p-button-rounded p-button-danger p-button-text"></button>
              <button pButton pRipple type="button" icon="pi pi-file-edit" (click)="showDialogEdit(courses)" class="p-button-rounded p-button-secondary p-button-text ml-1"></button>
            </td>
            <td>{{courses.name}}</td>
            <td>{{courses.category}}</td>
        </tr>
    </ng-template>
  </p-table>
</div>

<!-- pop-up criação e edição de curso -->
<p-dialog header="{{headerDialog}}" [(visible)]="showDialog">
  <app-courses-form (cancelForm)="closeDialog()" (saveForm)="save($event)"
                    (editForm)="update($event)"
                    [onForm]="dialogForm"  [course]="course"
  ></app-courses-form>
</p-dialog>

<p-confirmPopup></p-confirmPopup>
