.login {
    height: 100%;
}

.screen-card {
    width: 370px;
    height: 400px;
    justify-content: space-around;
}

.button-submit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}