<form [formGroup]="form">
    <span class="p-float-label mt-4 w-full">
        <input #name id="float-input" type="text" formControlName="name" [disabled]="true"
                pInputText required>
        <label for="float-input">Nome</label>
    </span>

    <p-dropdown optionLabel="category" [options]="category" optionValue="category"
                appendTo="body" formControlName="category"
                [showClear]="true" placeholder="Selecione a Categoria"
    ></p-dropdown>

  <div class="d-flex mt-4 justify-content-end">
    <button pButton icon="pi pi-times"label="cancelar"
              class="p-button-rounded p-button-danger p-button-text"
              (click)="closeDialog()"
    ></button>
    <button pButton *ngIf="onForm" [disabled]="form.invalid" icon="pi pi-check" label="salvar"
              class="p-button-text"
              (click)="onSave()"
    ></button>
    <button pButton *ngIf="!onForm" [disabled]="form.invalid" icon="pi pi-check" label="editar"
              class="p-button-text"
              (click)="onEdit(course)"
    ></button>
  </div>
</form>
